<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sun</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- single daterangepicker -->
    <!-- litepicker -->
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css"/>
    <!-- include polyfill first --->
    <script src="https://cdn.jsdelivr.net/npm/litepicker-polyfills-ie11/dist/index.js"></script>
    <!-- then include the Litepicker library --->
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
    <link rel="stylesheet" href="/static/css/litepicker.css">

    <!-- amchart xychart script -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- amchart mapchart -->
    <script src="//cdn.amcharts.com/lib/4/maps.js"></script>
    <script src="//cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <!-- 아래의 naver 키를 넣으면 됩니다. -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=pky47i5x93"></script>
    <!-- 탭 누르면 데이터 콜 -->
    <script src="/static/js/tabs.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>


    <!-- 다혜는 테스트 중-->
    <!-- 다혜는 테스트 중-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>

    @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

        * {
           font-family: 'Noto Sans KR', sans-serif;
        }

        #header {
            border-bottom: 1px solid #e8e8e8;
            position: fixed;
            width: 100%;
            height: 60px;
            text-align: left;
            background-color: white;
        }

        #footer {
            border-bottom: 1px solid #e8e8e8;
            position: fixed;
            width: 100%;
            height: 30px;
            text-align: center;
        }

        .left_title_big {
            font-size: 24px;
            color: white;
            font-weight: bold;
        }

        .left_title {
            font-size: 14px;
            color: #b9b9b9;
        }

        #right_size {
            margin-left: 10%;
            width: 80%;
        }

        .info {
            width:24%;
            display: inline-block;
        }

        .info_title {
            font-size: 16px;
        }


        .info_content {
            height: 40px;
            width: 100%;
            font-weight: bold;
            display: inline-block;
            border-right: 1px solid #aeacad;
        }

        #income_all, #energy_all, #income_day, #energy_day {
            font-size: 30px;
            display: inline-block;
        }

        .scale {
            display: inline-block;
        }

    </style>
</head>
<body>

    <div id="header">
        <img src="/static/img/logo_long.png" style="height: 30px; margin-left: 40px; margin-top:8px; background-color: white;">
    </div>
    <br/><br/>
    <div id="all" style="height: 100%; width: 100%; display: flex;">
        <div id="left" style="height: 100%; width: 380px; border: 1px solid black; display: inline-block; background-color: #38393E; position: fixed;">
            <div style="width: 350px; margin-left: 30px;">
                <ul class="col" style="list-style:none;"><br/>
                    <div class="left_title_big">계산 조건</div><br/>
                    <div class="left_title" style="margin-bottom: 10px;">조건</div>
                    <select id="rec_weight" class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 280px; height:30px;">
                        <option value="1.2" selected>일반 부지</option>
                        <option value="1.5">건축물 등 기존 시설물</option>
                        <option value="1.5">유지등 수면</option>
                        <option value="1">자가용 발전 설비</option>
                    </select>
                    <br/><br/>
                    <div class="left_title" style="margin-bottom: 10px;">날짜</div>
                    <!-- single_daterangepicker -->
                    <div>
                        <input style="width:500px;" id="litepicker" type="hidden"/>
                    </div><br/>
                    <!--지도 표시 구역-->
                    <div class="left_title" style="margin-bottom: 10px;">위치 선택</div>
                     <li>
                        <select id="search" style="width: 280px;">
                            <option value="당진수상" selected="true">당진 수상 태양광</option>
                            <option value="당진자재창고" selected="False">당진 자재창고 태양광</option>
                            <option value="당진" selected="False">당진 태양광</option>
                            <option value="울산" selected="False">울산 태양광</option>
                        </select>
                     </li>
                    <br/>
                    <div class="left_title" style="margin-bottom: 10px;">지도로 선택</div>
                    <li><div id="map" style="width:280px;height:250px;"></div></li>
                    <li><div id="check" style="display:none;">당진수상</div></li>
                </ul>
                <br/><br/>
            </div>
        </div>
        <div style="height: 100%; width: 20%; display: inline-block"></div>
        <div id="right" style="height: 100%; width: 80%; display: inline-block">

            <div id="right_size">
                <br/><br/>
                <div id="energy_name" style="font-size: 30px; display: inline-block; font-weight: bold;"></div>
                <div style="font-size: 20px; display: inline-block">　태양광 발전소의 예상치</div><br/>

                <div style="display: inline-block; color:#aeacad; font-size: 12px;">기간:　</div><div id="period" style="display: inline-block; color:#aeacad; font-size: 12px;"></div>

                <br/><br/><br/>

                <div style="background-color: #eeeeee; height: 200px; text-align: center;">
                    <br/><br/>
                    <div class="info">
                        <div class="info_title">총 발전량</div><br/>
                        <div class="info_content"><div id="energy_all"></div><div class="scale">　kw</div></div>
                    </div>
                    <div class="info">
                        <div class="info_title">총 수익</div><br/>
                        <div class="info_content"><div id="income_all"></div><div class="scale">　원</div></div>
                    </div>
                    <div class="info">
                        <div class="info_title">평균 일 발전량</div><br/>
                        <div class="info_content"><div id="energy_day"></div><div class="scale">　kw</div></div>
                    </div>
                    <div class="info">
                        <div class="info_title">평균 일일 수익</div><br/>
                        <div class="info_content" style="border: none"><div id="income_day" style="border:none;"></div><div class="scale">　원</div></div>
                    </div>
                </div>
                <br/><br/><br/>
                <ul class="nav nav-tabs" style="list-style:none;" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-toggle="tab" id="energy-sum-tab" data-bs-target="#temperature" type="button" role="tab" aria-controls="pills-temperature" aria-selected="true">하루 발전량 합계(kw)</a>
                    </li>
                </ul>
                <br/><br/>
                <div class="tab-content">
                    <ul class="tab-pane fade show active" style="list-style:none;">
                        <li id="energy-sum" role="tabpanel" aria-labelledby="pills-energy-tab" >
                            <div class="chart" id="barchart" style="height: 350px;"></div>
                        </li>
                    </ul>
                </div>
                <br/><br/><br/><br/>


                <ul class="nav nav-tabs" style="list-style:none;" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-toggle="tab" id="energy-tab" data-bs-target="#temperature" type="button" role="tab" aria-controls="pills-temperature" aria-selected="true">태양광 에너지</a>
                    </li>
                </ul>
                <br/><br/>
                <div class="tab-content">
                    <ul class="tab-pane fade show active" style="list-style:none;">
                        <li id="energy" role="tabpanel" aria-labelledby="pills-energy-tab">
                            <div class="chart" id="xychart_2" style="height: 350px;"></div>
                        </li>
                    </ul>
                </div>
                <br/><br/><br/><br/><br/><br/>

                <ul class="nav nav-tabs" style="list-style:none;" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-toggle="tab" id="temperature-tab" data-bs-target="#temperature" type="button" role="tab" aria-controls="pills-temperature" aria-selected="true">온도</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" id="humidity-tab" data-bs-target="#humidity" type="button" role="tab" aria-controls="pills-humidity" aria-selected="false">습도</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" id="hr-tab" data-bs-target="#hr" type="button" role="tab" aria-controls="pills-hr" aria-selected="false">일조</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" id="cloud-tab" data-bs-target="#cloud" type="button" role="tab" aria-controls="pills-cloud" aria-selected="false">전운량</a>
                    </li>
                </ul>
                <br/><br/>
                <div class="tab-content">
                    <ul class="tab-pane fade show active" style="list-style:none;">
                        <li id="temperature" role="tabpanel" aria-labelledby="pills-temperature-tab">
                            <div class="chart" id="xychart_1" style="height: 350px;"></div>
                        </li>
                    </ul>
                </div>
                <br/><br/><br/><br/><br/><br/><br/>

            </div>
        </div>

    </div>

        <!-- 임시 -->
        <input type="hidden" id="execute" value="execute">
        <input type="hidden" id="column" value="온도">
        <input type="hidden" id="location" value="당진수산">
</div>


<script src="/static/js/map.js"></script>

<script>
    <!-- 적용할 함수 선언 -->
    function twoChart(data) {
        var result = [];
        var energy_result = [];

        var chart_data = data.chart_data
        var energy_data = data.energy_chart_data

        for(var i in chart_data)
            chart_data[i]["date"] = new Date(chart_data[i]["date"])
        result.push(chart_data[i]);
        for(var i in energy_data)
            energy_data[i]["date"] = new Date(energy_data[i]["date"])
        energy_result.push(energy_data[i]);

        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("xychart_1", am4charts.XYChart);
        var energy_chart = am4core.create("xychart_2", am4charts.XYChart);

        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
        energy_chart.hiddenState.properties.opacity = 0;
        // 범례
        chart.legend = new am4charts.Legend();
        chart.legend.markers.template.disabled = true;

        energy_chart.legend = new am4charts.Legend();
        energy_chart.legend.markers.template.disabled = true;

        chart.data = chart_data;
        energy_chart.data = energy_data;

        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        var energy_dateAxis = energy_chart.xAxes.push(new am4charts.DateAxis());

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        var energy_valueAxis = energy_chart.yAxes.push(new am4charts.ValueAxis());

        valueAxis.tooltip.disabled = true;
        energy_valueAxis.tooltip.disabled = true;

        var series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.dateX = "date";
        series.dataFields.openValueY = "open";
        series.dataFields.valueY = "close";
        series.tooltipText = "실제 날씨: {openValueY.value} 예측 날씨: {valueY.value}";
        series.sequencedInterpolation = true;
        series.fillOpacity = 0.3;
        series.defaultState.transitionDuration = 1000;
        series.tensionX = 0.8;
        series.name = "예측 날씨"
        series.legendSettings.labelText = "[bold {color}]{name}[/]";

        var energy_series = energy_chart.series.push(new am4charts.LineSeries());
        energy_series.dataFields.dateX = "date";
        energy_series.dataFields.openValueY = "open";
        energy_series.dataFields.valueY = "close";
        energy_series.tooltipText = "태양광 발전량: {openValueY.value} 예측 태양광 발전량: {valueY.value}";
        energy_series.sequencedInterpolation = true;
        energy_series.fillOpacity = 0.3;
        energy_series.defaultState.transitionDuration = 1000;
        energy_series.tensionX = 0.8;
        energy_series.name = "예측 태양광 발전량"
        energy_series.legendSettings.labelText = "[bold {color}]{name}[/]";

        var series2 = chart.series.push(new am4charts.LineSeries());
        series2.dataFields.dateX = "date";
        series2.dataFields.valueY = "open";
        series2.sequencedInterpolation = true;
        series2.defaultState.transitionDuration = 1500;
        series2.stroke = chart.colors.getIndex(6);
        series2.tensionX = 0.8;
        series2.name = "실제 날씨"
        series2.legendSettings.labelText = "[bold {color}]{name}[/]";

        var energy_series2 = energy_chart.series.push(new am4charts.LineSeries());
        energy_series2.dataFields.dateX = "date";
        energy_series2.dataFields.valueY = "open";
        energy_series2.sequencedInterpolation = true;
        energy_series2.defaultState.transitionDuration = 1500;
        energy_series2.stroke = chart.colors.getIndex(6);
        energy_series2.tensionX = 0.8;
        energy_series2.name = "실제 태양광 발전량"
        energy_series2.legendSettings.labelText = "[bold {color}]{name}[/]";

        chart.cursor = new am4charts.XYCursor();
        chart.cursor.xAxis = dateAxis;
        chart.scrollbarX = new am4core.Scrollbar();

        energy_chart.cursor = new am4charts.XYCursor();
        energy_chart.cursor.xAxis = energy_dateAxis;
        energy_chart.scrollbarX = new am4core.Scrollbar();
    }

    function barChart(data) {
        am4core.useTheme(am4themes_animated);
        income_cal(data["barchart_data"])
        var last = Object.keys(data["barchart_data"]).length
        var start_date = data["barchart_data"][0]["date"]
        var end_date = data["barchart_data"][last-1]["date"]
        var chart = am4core.create("barchart", am4charts.XYChart);
        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

        chart.data = data["barchart_data"]
        chart.dateFormatter.inputDateFormat = "YYYY-MM-dd";
        chart.zoomOutButton.disabled = true;

        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.grid.template.strokeOpacity = 0;
        dateAxis.renderer.minGridDistance = 10;
        dateAxis.dateFormats.setKey("day", "d");
        dateAxis.tooltip.hiddenState.properties.opacity = 1;
        dateAxis.tooltip.hiddenState.properties.visible = true;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.inside = true;
        valueAxis.renderer.labels.template.fillOpacity = 0.3;
        valueAxis.renderer.grid.template.strokeOpacity = 0;
        valueAxis.min = 0;
        valueAxis.cursorTooltipEnabled = false;

        var series = chart.series.push(new am4charts.ColumnSeries);
        series.dataFields.valueY = "steps";
        series.dataFields.dateX = "date";
        series.tooltipText = "{valueY.value}";
        series.tooltip.pointerOrientation = "vertical";
        series.tooltip.hiddenState.properties.opacity = 1;
        series.tooltip.hiddenState.properties.visible = true;

        var columnTemplate = series.columns.template;
        columnTemplate.width = 30;
        columnTemplate.column.cornerRadiusTopLeft = 20;
        columnTemplate.column.cornerRadiusTopRight = 20;
        columnTemplate.strokeOpacity = 0;

        var cursor = new am4charts.XYCursor();
        cursor.behavior = "panX";
        chart.cursor = cursor;
        cursor.lineX.disabled = true;

        cursor.events.on("cursorpositionchanged", updateTooltip);
        dateAxis.events.on("datarangechanged", updateTooltip);

        function updateTooltip() {
            series.tooltip.validate(); // otherwise will show other columns values for a second
        }

        chart.events.on("datavalidated", function () {
            dateAxis.zoomToDates(start_date, end_date, false, true);
        });

        var label = chart.plotContainer.createChild(am4core.Label);
        label.x = 90;
        label.y = 50;

    }

    function income_cal(data) {
        var energy_all = 0;
        var smp = 80
        var rec = 10;
        var rec_weight = $("#rec_weight option:selected").val();
        for(var i in data)
            energy_all += data[i]["steps"];

        $('#energy_all').text(comma(energy_all))
        $('#energy_day').text(comma(Math.round(energy_all/Object.keys(data).length)))
        $('#income_all').text(comma(energy_all*(smp+rec*rec_weight)))
        $('#income_day').text(comma(Math.round(energy_all*(smp+rec*rec_weight)/Object.keys(data).length)))
    }

    <!--default-->

    $(document).ready(function() {
        var start = '2021-01-01';
        var end = '2021-01-15';
        var location = '울산';
        var column = '온도';
        var postdata = {
            'start':start, 'end':end, 'time':'2021-01-15', 'location':location, 'column':column
        }

        $("#period").text(start + '~' + end)
        $('#litepicker').val('2021-01-01 - 2021-01-15');
        $("#check").text(location);
        $("#location").val(location);
        $("#energy_name").text(location)

        $.ajax({
            type: 'POST',
            url: '{{url_for("ajax")}}',
            data: JSON.stringify(postdata),
            dataType : 'JSON',
            contentType: "application/json",
            success: function(data){
                if (data.chart_data.length == 0)
                    alert("날씨 데이터가 없습니다.");
                twoChart(data)
                barChart(data)
            },
            error: function(error) {
                console.log(error)
            }
        })
    })

    $('#rec_weight').change(function(){
        var time = $('#litepicker').val();
        start = time.substr(0, 10)
        end = time.substr(13, 10)

        var location = $('#location').val();
        var column = $('#column').val();
        var postdata = {
            'start':start, 'end':end, 'time':time, 'location':location, 'column':column
        }

        $("#energy_name").text(location);

        $.ajax({
            type: 'POST',
            url: '{{url_for("ajax")}}',
            data: JSON.stringify(postdata),
            dataType : 'JSON',
            contentType: "application/json",
            success: function(data){
                if (data.chart_data.length == 0)
                    alert("날씨 데이터가 없습니다.");
                income_cal(data["barchart_data"])
            }
        })
    });


            // 변경시
    $('#execute, #apply').click(function(){
        var time = $('#litepicker').val();
        start = time.substr(0, 10)
        end = time.substr(13, 10)
        $("#period").text(start + '~' + end)

        var location = $('#location').val();
        var column = $('#column').val();
        console.log(location, column)

        $("#energy_name").text(location);
        var postdata = {
            'start':start, 'end':end, 'time':time, 'location':location, 'column':column
        }
        $.ajax({
            type: 'POST',
            url: '{{url_for("ajax")}}',
            data: JSON.stringify(postdata),
            dataType : 'JSON',
            contentType: "application/json",
            success: function(data){
                if (data.chart_data.length == 0)
                    alert("날씨 데이터가 없습니다.");
                twoChart(data)
                barChart(data)
            }
        })
    });

    $('#temperature-tab').click(function(){
        $('#column').val("온도")
    });

    $('#humidity-tab').click(function(){
        $('#column').val("습도")
    });

    $('#hr-tab').click(function(){
        $('#column').val("일조")
    });

    $('#cloud-tab').click(function(){
        $('#column').val("전운량")
    });

    $('#temperature-tab, #humidity-tab, #hr-tab, #cloud-tab').click(function(){
        var time = $('#litepicker').val();
        start = time.substr(0, 10)
        end = time.substr(13, 10)
        var location = $('#location').val();
        var column = $('#column').val();
        console.log(location, column)
        $("#energy_name").text(location);
        var postdata = {
            'start':start, 'end':end, 'time':time, 'location':location, 'column':column
        }
        $.ajax({
            type: 'POST',
            url: '{{url_for("ajax")}}',
            data: JSON.stringify(postdata),
            dataType : 'JSON',
            contentType: "application/json",
            success: function(data){
                if (data.chart_data.length == 0)
                    alert("날씨 데이터가 없습니다.");

                var result = [];

                var chart_data = data.chart_data
                for(var i in chart_data)
                    chart_data[i]["date"] = new Date(chart_data[i]["date"])
                result.push(chart_data[i]);

                am4core.useTheme(am4themes_animated);
                // Themes end

                var chart = am4core.create("xychart_1", am4charts.XYChart);

                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
                // 범례
                chart.legend = new am4charts.Legend();
                chart.legend.markers.template.disabled = true;

                chart.data = chart_data;

                var dateAxis = chart.xAxes.push(new am4charts.DateAxis());

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

                valueAxis.tooltip.disabled = true;

                var series = chart.series.push(new am4charts.LineSeries());
                series.dataFields.dateX = "date";
                series.dataFields.openValueY = "open";
                series.dataFields.valueY = "close";
                series.tooltipText = "실제 날씨: {openValueY.value} 예측 날씨: {valueY.value}";
                series.sequencedInterpolation = true;
                series.fillOpacity = 0.3;
                series.defaultState.transitionDuration = 1000;
                series.tensionX = 0.8;
                series.name = "예측 날씨"
                series.legendSettings.labelText = "[bold {color}]{name}[/]";

                var series2 = chart.series.push(new am4charts.LineSeries());
                series2.dataFields.dateX = "date";
                series2.dataFields.valueY = "open";
                series2.sequencedInterpolation = true;
                series2.defaultState.transitionDuration = 1500;
                series2.stroke = chart.colors.getIndex(6);
                series2.tensionX = 0.8;
                series2.name = "실제 날씨"
                series2.legendSettings.labelText = "[bold {color}]{name}[/]";

                chart.cursor = new am4charts.XYCursor();
                chart.cursor.xAxis = dateAxis;
                chart.scrollbarX = new am4core.Scrollbar();
            }
        })
    });

    $(document).ready(function() {
        $("#search").select2();
    });


    $("#search").change(function(){
        var loc = $(this).val();
        console.log(loc)
        $("#check").text(loc)
        $("#energy_name").text(loc)
        $("#location").val(loc)
        $("#execute").trigger("click")
    });

    function comma(num){
    var len, point, str;

    num = num + "";
    point = num.length % 3 ;
    len = num.length;

    str = num.substring(0, point);
    while (point < len) {
        if (str != "") str += ",";
        str += num.substring(point, point + 3);
        point += 3;
    }

    return str;
    }

</script>

<script src="/static/js/litepicker.js"></script>
</body>
</html>