<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sun</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- amchart xychart script -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <!-- amchart mapchart -->
    <script src="//cdn.amcharts.com/lib/4/maps.js"></script>
    <script src="//cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>
<!-- 아래의 naver 키를 넣으면 됩니다. -->
</head>
<body>
<!--<div class="row">-->
<!--    <div class="col-md-2">-->
<!--        <input type="text" name="From" id="From" class="form-control" placeholder="From Date"/>-->
<!--    </div>-->
<!--    <div class="col-md-2">-->
<!--        <input type="text" name="to" id="to" class="form-control" placeholder="to Date"/>-->
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--        <input type="button" name="range" id="range" value="조회" class="btn btn-success"/>-->
<!--    </div>-->
<!--</div>-->
<!--<br/>-->

<!-- <div class="card-deck">-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Chart01</h5>-->
<!--        <p class="card-text">1번 차트</p>-->
<!--        <a href="/chart01" class="btn btn-primary">Go Chart01</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Chart02</h5>-->
<!--        <p class="card-text">2번 차트</p>-->
<!--        <a href="/chart02" class="btn btn-primary">Go Chart02</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Chart03</h5>-->
<!--        <p class="card-text">3번 차트</p>-->
<!--        <a href="/chart02" class="btn btn-primary">Go Chart03</a>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container-fluid">
    <div class="header">
        <h1>동서발전 태양광 발전 예측 시각화</h1>
    </div>
    <br>
    <div class="row">
        <ul class="col" style="list-style:none;">
            <li class="col-lg"><p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel vehicula mi. Suspendisse eleifend porta bibendum.
                Aliquam tempor dui nec erat volutpat suscipit sit amet non tortor. Donec est massa, volutpat ac metus malesuada, varius
                ornare eros. Morbi tempor ut libero a dapibus. Morbi quis ex sem. Duis euismod ut eros sit amet feugiat. Aliquam mattis
                tincidunt erat a maximus. Nullam iaculis dui nec eros tempor rutrum. Nam posuere metus vel diam luctus, id sodales ligula
                tincidunt. Maecenas porttitor tempor neque, sollicitudin commodo est tristique id. Nullam velit erat, malesuada sed mi eget,
                ullamcorper tempor turpis. Donec bibendum leo odio, vel laoreet turpis pretium vitae. Aliquam augue lorem, lobortis vel
                lectus id, sagittis pulvinar nibh.
                Aenean quis accumsan nibh. Fusce at euismod eros. Nunc consectetur accumsan sem, quis tempor sapien laoreet eu. Ut vel
                tellus vitae risus porttitor placerat. Morbi a pretium neque. Proin eu quam non sem convallis feugiat. Sed eleifend
                ullamcorper aliquam.
            </p></li>
            <li><div id="map" style="width:100%;height:400px;"></div></li>
        </ul>
        <div class="col-lg-8">
            <ul class="nav nav-tabs" style="list-style:none;">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#">온도</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#">습도</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#">일조</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#">일사</a></li>
            </ul>
            <ul style="list-style:none;">
                <li><div class="chart" id="xychart_1" style="height: 500px;"></div></li>
                <li><div class="chart" id="xychart_2" style="height: 500px;"></div></li>
            </ul>
        </div>
    </div>
</div>

<script src="/static/js/XYChart_1.js"></script>
<script src="/static/js/XYChart_2.js"></script>
<script src="/static/js/map.js"></script>
</body>
</html>